<head>
    <nav>
        <ul class="navbar">
            <br>
            <li><a href="/">Home</a></li>
            <li><a href="/registration"
               >Registration</a></li>
            <li><a href="/postimage"
              >Post</a></li>
           
           {{#if logged}}
           <li><a id="logout-button" >Log out</a></li>
           {{else}}
           <li><a href="/login">Login</a></li>
           {{/if}}
        </ul>
        <form id="search-bar" method="GET" action="/posts/search" enctype="application/x-www-form-urlencoded">
        <input type="search-text" id="search-text" name="searchtext" placeholder="search">
        <button id="search-btn">Search</button>
        </form>
    </nav>
</head>