 <div id="post-container">
    <div id="photo">

    </div>

 </div>
<body>
    <form>
        <section id="title">
            Post Title
        </section>
        <br>
        <section id="author">
            Post Author
        </section>
        
        <section id="time">
            Post Creation Time
        </section>

        <section id="image">
            Post Image
        </section>
</body>
</html>