<div class="logging-in">
    <header>
        <h1 class="loginheader">
            Login Form
        </h1>
    </header>

    <form method=" POST" action="/users/login" enctype="application/x-www-form-urlencoded">
        <br /><br/>
        <input type="text" class="user" name="username" required placeholder="Username"></label>
        <br/>
        <input type="password" class="pass" name="pwd" required placeholder="Password"></label>
        <br> <br/>
        
        <input type="submit">
    </form>
</div>

